* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  background-color: black;
  color: white;
}

figcaption{
  font: 10px italic;
  text-align: center;
}

h3 {
  padding: 0px 0px 10px 0px;
  text-align: center;
}

p {
  font-size: 20px;
}

#all-projects {
  display: flex;
  justify-content: space-around;
  margin: 0% 20% 0 20%;
}

#description1{
  padding: 0px 0px 25px 5px;
  margin-left: 40%;
  margin-right: 20%;
  text-align: justify;
  width: 40%;
}

#description2{
  padding: 0px 0px 25px 0px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  width: 60%;
}

#footer {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#fotoAbout{
  border: transparent thin solid;
  border-radius: 5%;
  float: left;
  margin-left: 20%;
  margin-right: 2%;
  max-width: 320px;
  width: 30%;
}

.gif-div {
  margin: 0 40%;
}

#gifWorking {
  border-style: hidden;
  height: 300px;
  width: 300px;
}

.habilities {
  display: flex;
  margin: 0 20%;
}

.hrHeader {
  width: 100%;
}

#hrIntersection {
  margin-bottom: 40px;
  width: 60%;
}

.hr-main-page {
  min-width: 450px;
  width: 40%;
}

.name-title {
  font-size: 30px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

#navegationOtherPage {
  padding: 0px 0px 20px 0px;
  font-size: 20px;
  text-align: right;
}

#navegationItem {
  display: inline;
  margin: auto;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.link-project {
  font-size: 15px;
}

#profilePicture {
  border-radius: 100%;
  display: block;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 120px;
}

.project-image {
  border-radius: 15px;
  opacity: 0.8;
  width: 180px;
}

.project-image:hover {
  justify-content:space-evenly;
  opacity: 1.0;
}

#socialMedia {
  text-align: center;
  margin-top: 40px;
}

.socialNetworks {
  border-radius: 40%;
  display: inline-block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 40px;
}

#softSkills {
  display: block;
  float: right;;
  font-size: 20px;
  margin-right: 20%;
  max-width: 30%;
}

.sub-title-phrase {
  color: gray;
  font-size: 20px;
  padding-bottom: 50px;
  text-align: center; 
}

#ul-hard-skills {
  display: block;
  text-align: justify;
  width: 50%;
}

#ul-links-main-page {
  display: flex;
  margin: auto;
  min-width: 450px;
  padding: 15px;
  width: 40%;
}

#ul-soft-skills {
  display: block;
  text-align: justify;
  width: 50%;
}
